# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Color values are ARGB hex. Do not add a # to the codes. If you want opaque RGB use FF for first two chars.
##########################################################################################################

general {
    # The color for the background of the tooltip. This should be 8 characters. [default: f0100010]
    S:background=99000000

    # The color for the bottom of the tooltip. This should be 8 characters. [default: f6924fcf]
    S:borderEnd=b5fe9651
    
    # The color for the top of the tooltip. This should be 8 characters. [default: f000ffcc]
    S:borderStart=f072eef3
}


